.signUpPaper {
    padding: 20px;
    height: 75vh;
    max-width: 400px;
    margin: 20px auto;
}

.containerGrid {
    padding: 1rem;
}

.avatarStyle {
    background-color: #1bbd7e;
}

.logoStyle {
    font-family: system-ui;
    font-weight: 700;
    font-size: 32px;
}

.logoSpanStyle {
    display: flex;
    align-self: center;
    margin-top: 0.62rem;
    margin-left: 0.1rem;
    font-family: system-ui;
    font-weight: 400;
    font-size: 1.25rem;
}

.logoGridStyle {
    display: flex;
    justify-content: center;
}

.loginSignupStyle {
    display: flex;
    justify-content: flex-end;
    font-family: system-ui;
}

.loginSpanStyle {
    font-weight: 500;
}

.loginSpanStyle:active {
    font-weight: 800;
    color: #29B4E0;
}

.loginSpanStyle:hover {
    font-weight: 500;
    color: #29B4E0;
}

.signupStyle {
    font-weight: 500;
}

.signupStyle:active {
    font-weight: 800;
    color: #29B4E0;
}

.signupStyle:hover {
    font-weight: 500;
    color: #29B4E0;
}

.alreadySpanStyle {
    margin-top: 30px;
}

.alreadySpanStyle span {
    font-size: 17px !important;
    color: #00000058;
    font-family: system-ui;
}